<section id="viewAddhotel">
    <h2>Edit existing hotel</h2>
    <form id="formAddhotel" action="/hotels/edit/{{hotel._id}}" method="POST">
        <label for="name">Hotel name:</label>
        <input type="text" id="name" name="name" value="{{hotel.name}}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{hotel.city}}">
        <label for="freeRooms">Free rooms:</label>
        <input type="number" id="freeRooms" name="freeRooms" value="{{hotel.freeRooms}}">
        <label for="imageUrl">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl" value="{{hotel.imageUrl}}">

        <input type="submit" class="create" value="Edit">
    </form>
</section>